body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fefefe;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}
 
.axis text {
  fill: #555;
}
 
.line {
  fill: none;
  stroke: #ef0d0c;
  stroke-width: 1.5px;
}
 
#chart {
  width: 95%;
  height: 100%;
  position: relative;
}