body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fefefe;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
}
 
svg, line, rect, path {
  shape-rendering: geometricPrecision;
}

/* Axes */ 
.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-size: 12px;
}

/* Cohort Chart */
#cohort-graph g.c3-axis-x g.tick {
  display: none;
}

/* Genes */
.gene-table {
  height: 100%;
}

/* Breakend table */
#breakend-viz {
  overflow: scroll;
  width: 300;
  height: 100;
}

.highlight:not(.breakpoint) {
  background-color: #f5f5f5 !important;
}

path.highlight {
  fill: rgba(240, 157, 0, 0.5) !important;
}

#gene-list tr.highlight {
  background-color: rgba(240, 157, 0, 0.5) !important;
}

tr.link {
  background-color: rgba(31, 119, 180, 0.1) !important;
  cursor: pointer;
}

.block {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 2px;
  stroke-linejoin: round;
  shape-rendering: geometricPrecision;
}

/* TODO Not sure why this isn't getting applied without !important */
.gene {
  stroke: none !important; 
  fill: rgba(0, 0, 0, 0.2) !important;
}

.gene:hover {
  fill: rgba(240, 157, 0, 0.5) !important;
}








