{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
	<h3>Sample: {{sample_name}}</h3>

	<div id="sample-graph"></div>
  <div id="chromosome-graph"></div>
  <div id="sample-table"></div>
</div>

<script type="text/javascript">
var events = {{ events|tojson|safe }};
var chromosome_sizes = {{ chromosome_sizes|tojson|safe }};

var table_headers = ['type', 'description', 'id', 'breakend locations'];

var end_locations = _.flatten(_.map(events, 
    function(event, i) { return event['breakend locations array'] })); 

var ends_grouped_by_chromosome = _.groupBy(end_locations, 'chrom'); 
var chromosome_counts = _.map(ends_grouped_by_chromosome, 'length');
var chromosome_breakrate = _.mapObject(ends_grouped_by_chromosome, function(value, key) {
  var ucsc_chrom = value[0]['ucsc_chrom'];
  var chrom_size = chromosome_sizes[ucsc_chrom];
  return value.length / chrom_size * 1000000;
});
var chromosome_names = _.keys(ends_grouped_by_chromosome);

var columns = ['Breakends in region', 'Breakrate']; // TODO dry this
var y_labels =  ['Number of Breakends', 'Breakends per Mb'];
var hidden_column = 'Breakends in region';

// Generate sample chart *************************************************

var chart_height = 200;

// Make chart
var chart_json = {
  bindto: '#sample-graph',
  size: {
    height: chart_height
  },
  axis: {
    x: {
      type: 'category',
      categories: chromosome_names,
      tick: {
        multiline: true,
        centered: true
      },
      label: {
        text: 'Chromosome',
        position: 'outer-left'
      }
    },
    y: {
      tick: {
        // format: d3.format("d")
      },
      label: {
        //text: 'Number of Breakends',
        text: 'Breakends per Mb',
        position: 'outer-right'
      }
    }
  },
  legend: {
    show: true,
    position: 'bottom'
  },
  onrendered: function(e) {
    // Link legend selections to chart column switches *******************
    $('#sample-graph .c3-legend-item').on('click', function(e) {
      var shown_fields = _.pluck(chart.data.shown(), 'id');
      var name = e.currentTarget.__data__;
      if (shown_fields.length > 1 && _.contains(shown_fields, name)) { // Hide other fields (chart.hide works poorly fyi, so i'm regenerating the chart)
        chart_json.data.hide = _.without(columns, name);
        chart_json.axis.y.label.text = y_labels[columns.indexOf(name)];
        chart.destroy();
        chart = c3.generate(chart_json);
      }
    });
  },
  data: {
      hide: [hidden_column],
      columns: [
        ['Breakends in region'].concat(chromosome_counts),
        ['Breakrate'].concat(_.values(chromosome_breakrate)) // TODO dry this
      ],
      type: 'bar',
      selection: {
        enabled: true,
        draggable: false // TODO select will chose from both counts and rates weirdly enough
      },
      onclick: function(d, element) {
        // Generate chromsome chart for given chromosome
        chromosome = chromosome_names[d.index].toString();
        make_chromosome_chart();
      },
      onselected: function (d, element) {
        chromosome = chromosome_names[d.index].toString();
        var ends_on_chromosome = ends_grouped_by_chromosome[chromosome];
        var corresponding_event_objects = _.unique(_.flatten(
          _.map(ends_on_chromosome, function(end) { 
            return _.filter(events, function(event) { 
              return event['id'] == end["sv_id"]; 
            })
        }))); // TODO dry this 

        console.log('selected chrom', (chart.selected().length == 1) ? 'load' : 'prepend');

        $('#sample-table table').bootstrapTable(
          (chart.selected().length == 1) ? 'load' : 'prepend', 
          corresponding_event_objects);    
        row_listening();  
      },
      onunselected: function (d, element) {
        chromosome = chromosome_names[d.index].toString();
        var ends_on_chromsome = ends_grouped_by_chromosome[chromosome];
        var corresponding_event_objects = _.unique(_.flatten(
          _.map(ends_on_chromsome, function(end) { 
            return _.filter(events, function(event) { 
              return event['id'] == end["sv_id"]; 
            })
        }))); // TODO dry this 

        console.log('unselected chrom', (chart.selected().length == 0) ? 'load all' : 'remove');
        if (chart.selected().length == 0) {
          $('#sample-table table').bootstrapTable('load', events);
        } else {
          var data_in_table = $('#sample-table table').bootstrapTable('getData');
          var ids_in_table = _.pluck(data_in_table,'id');

          var ids_to_remove = _.unique(_.pluck(corresponding_event_objects, 'id'));
          var new_data = _.filter(data_in_table, function(event_obj) {
            return !_.contains(ids_to_remove, event_obj['id']);
          })
          $('#sample-table table').bootstrapTable('load', new_data);
        }
        row_listening();
      }
  }
};

var chart = c3.generate(chart_json);

// Generate chromosome chart *********************************************

var chrom_chart;

var make_chromosome_chart = function() {
  var ends_on_chromosome = ends_grouped_by_chromosome[chromosome];

  var ucsc_chrom = ends_on_chromosome[0]['ucsc_chrom'];
  var chrom_size = chromosome_sizes[ucsc_chrom];

  var xbins = d3.scale.linear()
    .domain([0, chrom_size])
    .ticks(50);
  var bin_size = xbins[1];
  var ends_grouped_by_position = _.map(xbins, function(bin) { return []; }); // TODO clean out
  _.each(ends_on_chromosome, function(end) { 
    var v = Math.floor(end['pos']/bin_size); 
    ends_grouped_by_position[v] = ends_grouped_by_position[v].concat(end); 
  });

  var chrom_chart_json = {
    size: {
      height: chart_height
    },
    bindto: '#chromosome-graph',
    data: {
      columns: [['Breakends in region'].concat(_.map(ends_grouped_by_position,'length'))],
      type: 'bar',
      selection: {
        enabled: true
      },
      onselected: function(d, element) {
        // Filter table by selection
        var ends_in_bin = ends_grouped_by_position[d.index];
        var corresponding_event_objects = _.unique(_.flatten(
          _.map(ends_in_bin, function(end) { 
            return _.filter(events, function(event) { 
              return event['id'] == end["sv_id"]; 
            })
        }))); // TODO dry this 

        console.log('selected pos', (chrom_chart.selected().length == 1) ? 'load' : 'prepend', corresponding_event_objects);
        $('#sample-table table').bootstrapTable(
          (chrom_chart.selected().length == 1) ? 'load' : 'prepend', 
          corresponding_event_objects);  
        redraw_sample_chart_with_new_data(corresponding_event_objects);
        row_listening();
      },
      onunselected: function (d, element) {
        var ends_in_bin = ends_grouped_by_position[d.index];
        var corresponding_event_objects = _.unique(_.flatten(
          _.map(ends_in_bin, function(end) { 
            return _.filter(events, function(event) { 
              return event['id'] == end["sv_id"]; 
            })
        }))); // TODO dry this 
        console.log('unselected pos', (chrom_chart.selected().length == 0) ? 'load all' : 'remove');
        if (chrom_chart.selected().length == 0) {
          $('#sample-table table').bootstrapTable('load', events);
          redraw_sample_chart_with_new_data(events);
        } else {
          var data_in_table = $('#sample-table table').bootstrapTable('getData');
          var ids_in_table = _.pluck(data_in_table,'id');

          var ids_to_remove = _.unique(_.pluck(corresponding_event_objects, 'id'));
          var new_data = _.filter(data_in_table, function(event_obj) {
            return !_.contains(ids_to_remove, event_obj['id']);
          })
          $('#sample-table table').bootstrapTable('load', new_data);
          redraw_sample_chart_with_new_data(new_data);
        }
        
        row_listening();
      }
    },
    legend: {
      show: false
    },
    axis: {
      x: {
        type: 'category',
        categories: _.map(xbins, function(x) { return x/1000000; }),
        tick: {
          multiline: false,
          rotate: 60
        },
        label: {
          text: "Mbp",
          position: "outer-left"
        }
      },
      y: {
        label: {
          text: 'Breakends in region on ' + chromosome,
          position: 'outer-right'
        },
        tick: {
          format: d3.format("d")
        }
      }
    }

  };

  if (chrom_chart != undefined) {
    chrom_chart.destroy();
  }
  chrom_chart = c3.generate(chrom_chart_json);
};
var chromosome = chromosome_names[0];
make_chromosome_chart();


// Generate sample table *************************************************

// Add table
var table = d3.select('#sample-table')
  .append('table')
    .classed('table-no-bordered', true)
    .attr('data-toggle', 'table')
    .attr('data-show-columns', false)
    .attr('data-search', false)
    .attr('data-id-field', 'name')
    .attr('data-filter-control', true);

table
  .append('thead').append('tr').selectAll('th')
    .data(table_headers).enter()
  .append('th') // Add column headings
    .text(function (header) { return header; })
    .attr('data-field', function (header) { return header; })
    .attr('data-sortable', true)
    .attr('data-filter-control', 'input');    

table
  .append('tbody');

// Populate table with cohort data
$(table).bootstrapTable({data: events});

// Add data binding so D3 methods can be used on the table
table.selectAll('tbody tr').data(events).enter();


// Event handlers ********************************************************

// Update chart order on search ******************************************

var redraw_sample_chart_with_new_data = function(new_events) {
  end_locations = _.flatten(_.map(new_events, 
    function(event, i) { return event['breakend locations array'] })); 

  ends_grouped_by_chromosome = _.groupBy(end_locations, 'chrom'); 
  chromosome_counts = _.map(ends_grouped_by_chromosome, 'length');
  chromosome_names = _.keys(ends_grouped_by_chromosome);
  chromosome_breakrate = _.mapObject(ends_grouped_by_chromosome, function(value, key) {
    var ucsc_chrom = value[0]['ucsc_chrom'];
    var chrom_size = chromosome_sizes[ucsc_chrom];
    return value.length / chrom_size * 1000000;
  });

  chart_json.data.columns = [
        ['Breakends in region'].concat(chromosome_counts),
        ['Breakrate'].concat(_.values(chromosome_breakrate)) // TODO dry this
      ];
  chart_json.axis.x.categories = chromosome_names;

  chart.destroy();
  chart = c3.generate(chart_json);
};

$('#sample-table').on('column-search.bs.table', function() {
  // TODO on search clear, need to restore to full graph
  console.log('table search', 'getData');
  var updated_events = $('#sample-table table').bootstrapTable('getData');
  redraw_sample_chart_with_new_data(updated_events);

  //make_chromosome_chart();
  row_listening();
});

// Link to SV profile on row click ***************************************

$('#sample-table').on('click-row.bs.table', function(e, d) {
  console.log('/sample:'.concat({{ sample_name|tojson|safe }}).concat('/event:').concat(d.vcf_id));
  window.location.href = '/sample:'.concat({{ sample_name|tojson|safe }}).concat('/event:').concat(d.vcf_id);
});

// Make rows look more like links on hover *******************************
var row_listening = function() {
  d3.selectAll('#sample-table table tbody tr')
    .on('mouseover', function(d, i) { d3.select(this).classed('link', true); })
    .on('mouseout', function(d, i) { d3.select(this).classed('link', false); });
};
row_listening();

// Bootstrap Table debugging helper **************************************

/*$('#sample-table').on('all.bs.table', function(e, d) {
  console.log(e, d);
});*/


</script>
{% endblock %}