{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
	<h3>Sample: {{sample_name}}</h3>

	<div id="sample-graph"></div>
  <div id="sample-table"></div>
</div>

<script type="text/javascript">
var events = {{ events|tojson|safe }};
var end_positions = [];
_.each(events, function(event, i) {
  end_positions = end_positions.concat(event['breakend genome locations'])
})
var num_ends = end_positions.length;
var table_headers = ['type', 'description', 'breakend locations'];


// Generate cohort chart *************************************************

var chart_height = 200;
var values = end_positions;
var position_limit = 3137161264;

var x = d3.scale.linear()
    .domain([0, position_limit])
    .range([0, 1]);

var num_bins = 20;
var x_categories = x.ticks(30);

var data = d3.layout.histogram()
    .bins(x_categories)
    (values);

var chart_y = _.map(data, function(d) {return d.length;});

// Make chart
var chart_json = {
  size: {
    height: chart_height
  },
  bindto: '#sample-graph',
  data: {
      columns: [['breakends in region'].concat(chart_y)],
      type: 'bar',
      selection: {
        enabled: true,
        draggable: true
      }
  },
  axis: {
    x: {
      type: 'category',
      categories: x_categories,
      tick: {
        multiline: false,
        centered: true
      }
    },
    y: {
      label: 'Breakends in region'
    }
  },
  legend: {
    show: false
  }
};

var chart = c3.generate(chart_json);


// Generate sample table *************************************************

// Add table
var table = d3.select('#sample-table')
  .append('table')
    .classed('table-no-bordered', true)
    .attr('data-toggle', 'table')
    .attr('data-show-columns', false)
    .attr('data-search', false)
    .attr('data-id-field', 'name')
    .attr('data-sort-name', 'name')
    .attr('data-sort-order', 'asc')
    .attr('data-click-to-select', true)
    .attr('data-maintain-selected', false)
    .attr('data-filter-control', true)
    .attr('data-show-refresh', false);

table
  .append('thead').append('tr').selectAll('th')
    .data(table_headers).enter()
  .append('th') // Add column headings
    .text(function (header) { return header; })
    .attr('data-field', function (header) { return header; })
    .attr('data-sortable', true)
    .attr('data-filter-control', 'input');    

table
  .append('tbody');

// Populate table with cohort data
$(table).bootstrapTable({data: events});

// Add data binding so D3 methods can be used on the table
table.selectAll('tbody tr').data(events).enter();


// Event handlers ********************************************************

// Update chart order on search ********************************************

$('#sample-table').on('column-search.bs.table', function() { // TODO really slow
  var updated_data = $('#sample-table table').bootstrapTable('getData');

  var values = [];
  _.each(updated_data, function(d, i) {
    values = values.concat(d['breakend genome locations'])
  })

  var data = d3.layout.histogram()
      .bins(x_categories)
      (values);
  var chart_y = _.map(data, function(d) {return d.length;});
  chart_json.data.columns = [['breakends in region'].concat(chart_y)];

  chart = c3.generate(chart_json);
});

// Link to SV profile on row click *************************

$('#sample-table').on('click-row.bs.table', function(e, d) {
  window.location.href = '/sample:'.concat({{ sample_name|tojson|safe }}).concat('/event:').concat(d.vcf_id);
});

// Make rows look more like links on hover
d3.selectAll('#sample-table tbody tr')
  .on('mouseover', function(d, i) { d3.select(this).classed('link', true); })
  .on('mouseout', function(d, i) { d3.select(this).classed('link', false); });

$('#sample-table').on('all.bs.table', function(e, d) {
  console.log(e, d);
});





</script>
{% endblock %}