{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">

  <h3>Sample: {{sample_name}}</h3>

  <h4>Event: {{event_id}}
    <span class="inline">
      <a class="btn" role="button" data-toggle="collapse" href="#collapseEventInfo" aria-expanded="false" aria-controls="collapseEventInfo">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </a>
  </span></h4>
  
  <div class="collapse" id="collapseEventInfo">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>{{event_description}}</h5>
        <!-- Add metadata here -->
      </div>
      <table id="breakend-list" class="table table-hover" style='display: show;'>
        <thead><tr>
        {% for attr in attrs_to_show %}
          <th>{{ attr }}</th>
        {% endfor %}
        </tr></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <p></p>
  <div id="breakend-viz"></div>

  <h4>Genes near breakpoints</h4>
  <div id="gene-list" class="row"></div>

</div>

<script type="text/javascript">
// Helper functions ******************************************************

var isEven = function(n) {
  return n == parseFloat(n)? !(n%2) : void 0;
};

var cFormat = d3.format(',');
var posFormat = function(chrom, pos) {
  return chrom + ':' + cFormat(pos);
}

// SV Visualization ******************************************************

// Create SVG viewport ***************************************************
var margin = {top: 20, right: 40, bottom: 20, left: 40};
var svg_width = $('#breakend-viz').innerWidth() - margin.left - margin.right,
    svg_height = 200 - margin.top - margin.bottom;

var svg = d3.select("#breakend-viz").append("svg") // .style('border', 'solid black 2px')
    .attr("width", svg_width + margin.left + margin.right)
    .attr("height", svg_height + margin.top + margin.bottom);

var canvas = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Initialize blocks *****************************************************
// Note: Blocks will initially be drawn in a schemicatic view.

var blocks = {{ blocks|tojson|safe }};
var num_blocks = blocks.length;
var schematic_width = Math.round(svg_width/num_blocks); 

var block_color = ['rgba(0, 112, 182, 1)', 
  'rgba(0, 167, 117, 1)', 
  'rgba(0, 112, 182, 1)'];

blocks = _.map(blocks, function(block, i) {
  block.domain = [block.start.pos, block.end.pos];
  block.domain_length = Math.abs(block.start.pos - block.end.pos);
  block.width = schematic_width;
  block.xScale = d3.scale.linear()
                   .domain(block.domain)
                   .range([1, block.width])
                   .clamp('true');
  block.color = block_color[i];
  return block;
});

// Create scaled x axis for each block ***********************************
var axis_height = svg_height/2;
var tick_height = axis_height;

// Add ticks to axis group
var xAxisGroup = canvas.selectAll('g.axis')
    .data(blocks).enter()
    .append('g')
    .classed('axis', true)
    .attr('transform', function (block, i) {
      return 'translate(' + (i * block.width) + ',' + axis_height + ')';
    })
    .each(function (block, i) {
        var xAxis = d3.svg.axis()
            .orient((isEven(i)) ? 'top' : 'bottom')
            .tickValues(block.domain)
            .tickSize(tick_height, 0)
            .scale(block.xScale)
            .tickFormat(function (x) {
              return posFormat(block.start.chrom, x);
            });
        d3.select(this).call(xAxis);

        d3.select(this).selectAll('text')   /*  .style('fill', block.color).style('stroke', 'black').style('stroke-width', '0.4px')*/
          .each(function() {
            var text_bbox = this.getBBox();

            d3.select(this.parentNode).append('rect')
              .attr('width', text_bbox.width)
              .attr('height', text_bbox.height)
              .attr('x', text_bbox.x)
              .attr('y', text_bbox.y)
              .style('fill', block.color.replace('1)', '0.2)'));
          })
    });

// Draw block block_paths over axes *******************************************
console.log('make blocks');
var block_height = Math.round(svg_height/6);
var block_y_offset = -block_height/2;

var block_path = function(xLength, direction) {
  // Helper method for drawing block shape - an block_path that can point left or right
  if (xLength > block_height/2) 
    if (direction) { 
      var lineData = [
        { "x": 0,   "y": 0},  { "x": xLength*0.9,  "y": 0},
        { "x": xLength,  "y": block_height/2}, { "x": xLength*0.9,  "y": block_height},
        { "x": 0,  "y": block_height},  { "x": 0, "y": 0}];
    } else {
      var lineData = [
        { "x": xLength,   "y": 0},  { "x": xLength*0.1,  "y": 0},
        { "x": 0,  "y": block_height/2}, { "x": xLength*0.1,  "y": block_height},
        { "x": xLength,  "y": block_height},  { "x": xLength, "y": 0}];
    }
  else { // draw directionless block
      var lineData = [
        { "x": 0,   "y": 0},  { "x": xLength,  "y": 0},
        { "x": xLength,  "y": block_height}, { "x": 0,  "y": block_height}];
  }

  var lineFunction = d3.svg.line()
    .x(function(d) { return d.x; })
    .y(function(d) { return d.y; })
    .interpolate("linear");

  return lineFunction(lineData);
};

// Load JSON data on blocks 
var json_blocks_url = '/sample:{{sample_name}}/event:{{event_id}}/sv_blocks.json';
d3.json(json_blocks_url, function(error, data) {
  if (error) throw error;

  xAxisGroup.each(function(block, i) {
    d3.select(this)
      .insert("path", '.gene') // Draw block path under paths representing genes
      .classed('block', true)
      .attr('d', block_path(block.width, block.dir))
      .attr('transform', 'translate(0, ' + block_y_offset + ')')
      .style('fill', block.color)
  });
});

// Draw genes over axes **************************************************

console.log('genes');
var gene_height = svg_height/4;
var gene_y_offset = -gene_height/2;

var gene_path = function(block, gene) {
  // Helper method for drawing gene path
  var xScale = block.xScale;
  var start = xScale(gene.start), 
      end = xScale(gene.end);

  var lineData = [
    { "x": start,   "y": 0},  { "x": end,  "y": 0},
    { "x": end,  "y": gene_height}, { "x": start,  "y": gene_height}];
    
  var lineFunction = d3.svg.line()
    .x(function(d) { return d.x; })
    .y(function(d) { return d.y; })
    .interpolate("linear");

  return lineFunction(lineData);
};

// Create gene tooltip
var gene_tip = d3.tip()
  .attr('class', 'd3-tip c3-tooltip')
  .style('max-width', '100px')
  .offset([550, 0])
  .html(function(d) { 
    // Formatting this content to match css selectors for c3-tooltip 
    var tip_table = d3.select(document.createElement('table'));
    var header = tip_table.append('thead').append('tr').append('th').text(d.external_name);

    var tbody = tip_table.append('tbody');
    _.mapObject(_.omit(d, 'external_name'), function(value, key) {
      var row = tbody.append('tr');
      row.append('td').text(key);
      row.append('td').text(value);
    });

    return $(tip_table[0]).prop('outerHTML');
  });
  
svg.call(gene_tip);
var gene_clicked = false;

// Add genes representations to each fragment's axis group
var genes = {{ genes|tojson|safe }};
xAxisGroup.each(function (block, i) {
  var current_group = this;

  if (genes[i]) {
    d3.select(current_group).selectAll('path.gene')
      .data(genes[i]).enter()
      .append('path')
      .classed('gene', true)
      .attr('transform', function(gene) {
        var strand_offset = -gene.strand*gene_height;
        return 'translate(0, ' + (gene_y_offset + strand_offset) + ')'
      })
      .on('click', function(gene) { 
        // temporary solution that keeps tooltip on page to allow selection of tip content
        event.stopPropagation(); // keep parent element getting clicked (toggles scaled/schematic views o/w)
        gene_clicked = !gene_clicked;
        return gene_clicked ? gene_tip.show(gene) : gene_tip.hide(gene);
      })
      .on('mouseover', function(gene) {
        // Highlight corresponding gene structure
        var id = gene.id;
        d3.select(this).classed('highlight', true);
        d3.selectAll('.' + id).classed('highlight', true);
      })
      .on('mouseout', function(gene) {
        var id = gene.id;
        d3.select(this).classed('highlight', false);
        d3.selectAll('.' + id).classed('highlight', false);
      })
      .each(function(gene) {
        var id = gene.id;
        d3.select(this)
          .classed(id, true)
          .attr('d', gene_path(block, gene));
      });
  }
});

// Update SVG size *******************************************************

// Rescale SVG when window is resized 
$(window).resize(function() {
    svg_width = $('#breakend-viz').innerWidth() - margin.left - margin.right;
    svg.attr("width", svg_width + margin.left + margin.right)
    updateBlocks();
});

// Toggle scaled and schematic views when SVG is clicked 
var toggleScaleView = false;
var sum = d3.sum(_.map(blocks, function (block) { return block.domain_length; }));
$('#breakend-viz svg').click(function() {
  toggleScaleView = !(toggleScaleView);
  updateBlocks();
});

// Helper method for updating block widths
var updateBlocks = function() {
  // Update block size
  if (toggleScaleView) {
    var windowScale = d3.scale.linear().domain([1, sum]).rangeRound([1, svg_width]);
    _.each(blocks, function(block) { block.width = windowScale(block.domain_length); });
  } else {
    var fixed_width = Math.round(svg_width/num_blocks);
    _.each(blocks, function(block) { block.width = fixed_width; });
  }
  
  // Resize SVG elements to fit new block size
  var sumPreviousWidths = 0;
  xAxisGroup.each(function(block, i) {
    block.xScale = d3.scale.linear()
        .domain(block.domain)
        .range([1, block.width])
        .clamp(true);
    xAxis = d3.svg.axis()
        .orient((isEven(i)) ? 'top' : 'bottom')
        .tickValues(block.domain)
        .tickSize(tick_height,0)
        .scale(block.xScale)
        .tickFormat(function (x) {
          return posFormat(block.start.chrom, x);
        });
    d3.select(this)
      .call(xAxis)
      .attr('transform', 'translate(' + sumPreviousWidths + ',' + axis_height + ')');
    sumPreviousWidths += block.width;

    d3.select(this).select('path.block')
      .attr('d', block_path(block.width, block.dir));

    d3.select(this).selectAll('path.gene')
      .attr('d', function(gene){
        return gene_path(block, gene);
      });

    blocks[i] = block;
  });
};


// Create breakend table *************************************************
console.log('breakend table');

var breakends = {{ breakends|tojson|safe }};
var selected_breakend = breakends[0];
var columns = {{ attrs_to_show|tojson|safe }};

var rows = d3.select("#breakend-list tbody").selectAll('tr')
  .data(breakends)
  .enter()
  .append('tr')
  .attr('class', function(d) {
    return 'chr' + d['CHROM'] + '-' + d['POS'];
  })
  .on("click", function(d, i) {
    selected_breakend = d;
    //get_genes();
    $('#breakend-list').find('tr.highlight').removeClass('highlight');
    $(this).addClass('highlight');
  });
d3.select("#breakend-list tbody").select('tr').classed('highlight', true);

var cells = rows.selectAll("td")
  .data(function(row) {
    return columns.map(function(column) {
      var cell = row[column];
      if (typeof cell == 'object') {
        return Object.keys(cell);
      }
      return cell;
    })
  })
  .enter()
  .append("td")
  .text(function(d) {
    return d;
  });


// Create list of genes around a selected breakend ***********************
console.log('gene table');
/*TODO
1. use strict ranges (use block regions as cutoffs) X
2. show indicators of function (cancer-related particularly)*/

var gene_attrs_to_show = ['external_name', 'start_formatted', 'end_formatted', 'biotype'];
var gene_headers = ['Name', 'Start', 'End', 'Biotype'];
var gene_headers_filter = [undefined, undefined, undefined, 'select'];
var gene_list = d3.select("#gene-list");
var genes_top, genes_bottom, combined_list, start, end, breakpoint_index;
var num_breakpoints = blocks.length-1;
var table_width = Math.round(12/num_breakpoints);

// Create breakpoint objects

for (var i =0; i < genes.length; i++) {
  if (!blocks[i].dir) {
    genes[i].reverse();
  }

  // TODO bootstrap table data-formatter didn't work, so this is the temporay solution
  _.each(genes[i], function(gene) {
    gene.start_formatted = cFormat(gene.start);
    gene.end_formatted = cFormat(gene.end);
    gene.color = blocks[i].color.replace('1)', '0.2)');
  })
}


var breakpoints = [];
for (var i =0; i < num_breakpoints; i++) {
  breakpoint = {}
  breakpoint.start_block =  blocks[i].end;
  breakpoint.end_block = blocks[i + 1].start;

  breakpoint.start_formatted = posFormat(breakpoint.start_block.chrom, breakpoint.start_block.pos);
  breakpoint.end_formatted = posFormat(breakpoint.end_block.chrom, breakpoint.end_block.pos);
  breakpoint.external_name = 'Breakpoint';
  breakpoint.name =  breakpoint.start_formatted + ' | ' + breakpoint.end_formatted;

  genes_top = genes[i];
  genes_bottom = genes[i+1];
  genes_top = (genes_top) ? genes_top : [];
  genes_bottom = (genes_bottom) ? genes_bottom : [];

  breakpoint.index = genes_top.length;
  breakpoint.combined_list = genes_top.concat(breakpoint).concat(genes_bottom);

  breakpoints[i] = breakpoint;
}

// Add breakpoint tooltips to SVG
var fusions = {{ fusions|tojson|safe }};
var breakpoint_tip = d3.tip()
  .attr('class', 'd3-tip c3-tooltip')
  .style('max-width', '100px')
  .offset([0, 0])
  .html(function(breakpoint, i) { 
    // Formatting this content to match css selectors for c3-tooltip 
    var tip_table = d3.select(document.createElement('table'));
    var header = tip_table.append('thead').append('tr').append('th').text('Breakpoint');
    var tbody = tip_table.append('tbody');
    _.mapObject(fusions[i], function(value, key) {
      var row = tbody.append('tr');
      row.append('td').text(key);
      console.log('v', value);
      if (value.constructor === Array) {
        value = (value[0] ? value[0].external_name : 'None'); // TODO change this - genes could be overlapping (would need to name them all)
      }
      row.append('td').text(value);
    });
    console.log('breakpoint tip',breakpoint, i, fusions[i]);
    return $(tip_table[0]).prop('outerHTML');
  });
  
svg.call(breakpoint_tip);
_.each(_.initial(xAxisGroup[0]), function(cur_group, i) {
  var last_tick = d3.select(cur_group).selectAll('g.tick')[0][1];
  d3.select(last_tick)
    .on('mouseover', function() { breakpoint_tip.show(breakpoints[i], i); })
    .on('mouseout', function() { breakpoint_tip.hide(breakpoints[i], i); });
}); // TODO dry
_.each(_.rest(xAxisGroup[0]), function(cur_group, i) {
  var first_tick = d3.select(cur_group).selectAll('g.tick')[0][0];
  d3.select(first_tick)
    .on('mouseover', function() { breakpoint_tip.show(breakpoints[i], i); })
    .on('mouseout', function() { breakpoint_tip.hide(breakpoints[i], i); });
}); // TODO dry


// Helper methdo to keep gene table styling after search event
var styleGeneTable = function(table, new_gene_list) {

  // Add data binding so D3 methods can be used on the table
  table.selectAll('tbody tr')
    .data(new_gene_list).enter();

  // Style breakpoint in list
  breakpoint_row = d3.select($(table[0]).find('tbody tr:has(td:contains("Breakpoint"))')[0]) // TODO seems overly complicated
    .classed('breakpoint', true)
    .style('background', 'black')
    .style('color','white');

  // Style gene list to link with SV SVG
  table.selectAll('tbody tr:not(.breakpoint)')
    .each(function(gene, j) {
      var id = gene.id;
      var row = d3.select(this);

      row.classed(id, true)
        .style('background-color', gene.color)
        .on('mouseover', function() {
          // Highlight corresponding gene structure
          row.classed('highlight', true);
          d3.selectAll('.' + id).classed('highlight', true);
          //tip.show(gene);
        })
        .on('mouseout', function(gene) {
          row.classed('highlight', false);
          d3.selectAll('.' + id).classed('highlight', false);
          //tip.hide(gene);
        });

      // Add link to gene card page in Name column
      var name = d3.select(row.selectAll('td')[0][0]);
      name.text('')
        .append('a')
        .classed('btn', true)
        .style('padding', 0)
        .text(gene.external_name)
        .on('click', function() {
          window.location.href = 'http://www.genecards.org/cgi-bin/carddisp.pl?gene=' + id;
        });
    });

};

var w, row, breakpoint_row;
// Make one gene table per breakpoint
gene_list.selectAll('div.breakpoint')
  .data(breakpoints).enter()
  .append('div')
  .classed('breakpoint', true)
  .classed('container', true)
  .classed('col-xs-' + table_width, true)  
  .attr('max-height', 230);

gene_list.selectAll('div.breakpoint').each(function(breakpoint, i) {
  // Add header
  d3.select(this)
      .classed('breakpoint-' + i, true)
    .append('div')
      .classed('panel-heading', true)
      .text(breakpoint.name);

  // Add table
  table = d3.select(this)
    .append('div')
      .classed('container-fluid', true)
    .append('table')
      .classed('table-no-bordered', true)
      .classed('gene-table', true)
      .classed('gene-table-' + i, true)
      .attr('data-toggle', 'table')
      .attr('data-filter-control', true)
      .attr('data-id-field', 'external_name');
  table
    .append('thead').append('tr').selectAll('th')
      .data(gene_attrs_to_show).enter()
    .append('th') // Add column headings
      .attr('data-field', function (gene_attr) { return gene_attr; })
      .attr('data-field', function (gene_attr) { return gene_attr; })
      .text(function (gene_attr, j) { return gene_headers[j]; })
  
  table.select('thead tr th[data-field="biotype"]')
    .attr('data-filter-control', 'input'); 

  table
    .append('tbody');

  // Populate table with gene list
  $(table).bootstrapTable({data: breakpoint.combined_list});
  $(table).bootstrapTable('resetWidth');

  // Hack to make filter on single column (biotype) look nicer
  table.selectAll('thead tr th')
    .data(gene_attrs_to_show).enter()
  table.selectAll('thead tr th')
    .attr('data-field', function (gene_attr) { return gene_attr; })
    .classed('row', true);
  table.selectAll('thead tr th:not([data-field="biotype"]) .th-inner').classed('col-xs-12', true);
  table.selectAll('thead tr th[data-field="biotype"] .th-inner')
    .classed('col-xs-4', true)
    .style('padding-right', '0')
    .style('margin-right', '0');
  table.selectAll('thead tr th[data-field="biotype"] .fht-cell')
    .classed('col-xs-8', true)
    .style('margin-top', '0.2em')
    .style('padding-left', '0')
    .style('padding-right', '0');

  styleGeneTable(table, breakpoint.combined_list);

  // Scroll to breakpoint
/*  var offset = $(breakpoint_row[0]).offset().top;
  var offset_header = $('.gene-table-' + i + ' > tbody > tr[data-index=0]').offset().top;
  $('div.fixed-table-body:has(.gene-table-'+ i +')').scrollTop(offset-offset_header);*/
});

// Make sure styles are maintained after table filtering *****************
$('.gene-table').on('post-body.bs.table', function(e) {
  var d = $(this).bootstrapTable('getData');
  styleGeneTable(d3.select(this), d);
});



// Bootstrap Table debugging helper **************************************

/*$('#sample-table').on('all.bs.table', function(e, d) {
  console.log(e, d);
});*/

</script>
{% endblock %}